body {
    background: url(tennisplatz-sand.jpeg) no-repeat center fixed;
    background-size: cover;
    font-family: Chalkduster, fantasy;
}
header {  
    background: #0F3A4f;
}
h1 , h2 , h4 {
    color: #8bc93d;
}
.bound {
    animation: 0.5s ease-out 0.5s infinite alternate up;
    width: 65px; 
    height: 65px ;
}
@keyframes up {
    from {
        transform: translateY(10px)
    }
    to {
        transform: translateY(-11px)
    }
}
.navbar {
    background-color: #d4e0bd;
}
#recolor {
    color: #1c869d;
}
#disabled , h6 {
    color: #0F3A4f;
}
@media screen and (max-width: 640px)  {
    .text-element {
        display: none;
    }
    .icon {
        width: 100px;
        height: 30px;
    }
    .carte {        
        width: 85vw;
        overflow: hidden;
    }
    .suite {
       display: none;
    }

}
@media screen and (min-width: 641px) {
    .btn {
        display: none;
    }
}
.card {
    border: 0.5rem solid #0F3A4f;
    background: #d4e0bd;
    color: #0F3A4f;
    letter-spacing: 0.5px;
}
.img-bord {
    border: 0.1rem solid #0F3A4f;
}
.bi-instagram {
    color: #8a3ab9;
}
h3 {
    border: 0.2rem solid #0F3A4f;
    background: #d4e0bd;
    color: #0F3A4f;
}
