body {
    background: url(tennisplatz-sand.jpeg) no-repeat center fixed;
    background-size: cover;
}
header {
    
    background: #0F3A4f;
}
h1 {
    color: #8bc93d
}
.bound {
    animation: 0.5s ease-out 0.5s infinite alternate up;
}
@keyframes up {
    from {
        transform: translateY(10px)
    }
    to {
        transform: translateY(-11px)
    }
}
.navbar {
    background-color: #d4e0bd;
}
#recolor {
    color: #1c869d;
}
#disabled {
    color: #0F3A4f;
}
@media screen and (max-width: 320px) {
    .text-element {
        display: none;
    }
    .icon {
        width: 100px;
        height: 30px;
    }
}
